html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5; /* Màu nền mong muốn */
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}